@{
    ViewData["Title"] = "Asignar";
}
@model FVSystem.Models.NotaEstudiante

@section script
{
    <script src="~/js/SumarNotas.js"></script>
}

<a href="javascript:history.back(-1);" title="Ir la página anterior">
    <img src="https://echaloasuerte.com/static/media/arrow.867ac2d0.svg" width="50" height="50" />
</a>

<h1> DESGLOSE DE NOTAS</h1>

<h2>@Model.Estudiante.Nombre @Model.Estudiante.Apellido </h2>

<br>

@using (Html.BeginForm("ActualizarNotas", "Notas", FormMethod.Post))
{

    <label>
        Asistencia:@Model.Desglose.AsistenciaTotal%
        <input id="asistencia" type="text" value="@Model.Desglose.Asistencia" onKeyUp="SumarAutomatico()">
    </label>

    <br>

    <label>
        Cotidiano:@Model.Desglose.CotidianoTotal%
        <input id="cotidiano" type="text" value="@Model.Desglose.Cotidiano" onKeyUp="SumarAutomatico()">
    </label>
    <br>

    <label>Proyecto1: @Model.Desglose.Proyecto1Total% <input id="proyecto1" type="text" value="@Model.Desglose.Proyecto1 " onKeyUp="SumarAutomatico()"></label>
    <br>

    <label>Proyecto2: @Model.Desglose.Proyecto2Total% <input id="proyecto2" type="text" value="@Model.Desglose.Proyecto2 " onKeyUp="SumarAutomatico()"></label>
    <br>

    <label>Proyecto Final: @Model.Desglose.ProyectoFinalTotal%: <input id="proyectoFinal" type="text" value="@Model.Desglose.ProyectoFinal" onKeyUp="SumarAutomatico()"></label>
    <br>

    <label>Total: 100%: <input id="notaTotal" type="text"> </label>

    <input type="submit" value="Guardar">

}
