
@{
    ViewBag.Title = "Nota";
}

@section Styles {
    <link href="~/css/listas.css" rel="stylesheet" />
}

<h2>Notas</h2>

<table class="col-md-12">


    @foreach (var nota in Model)
    {
    <tr class="row lista">
        <td class="col-md-4">@nota.Modulo.Nombre</td>
        <td class="col-md-4">@nota.Estudiante.Nombre @nota.Estudiante.Apellido</td>
        <td class="col-md-2">@nota.Nota</td>
        <td class="col-sm"> @Html.ActionLink("Asignar Nota", "Asignar", "Notas", new { id = @nota.Estudiante.Id }, new { miAtributo = "valor1", @class = "btn btn-danger" }) </td>
    </tr>
    }

</table>

