
@{
    ViewBag.Title = "Modulos";
}

@section Styles {
    <link href="~/css/modulos.css" rel="stylesheet" />
    <link href="~/css/listas.css" rel="stylesheet" />
}

@section script {
    <script src="~/js/ConfirmacionBorrarModulo.js"></script>
}

@model FVSystem.Models.ModulosCurso

<h1>Lista de Modulos para el curso: @Model.Curso.Nombre</h1>
<table class="col-12">


    @foreach (var modulo in Model.Modulos)
    {

        <tr class="row lista">
            <td class="col-8">@modulo.Nombre</td>
            @*<td class="col-sm">@Html.ActionLink("Editar", "Editar", "Modulo", new { id = @modulo.Id }, new { miAtributo = "valor1", @class = "btn btn-danger" })</td>*@
            <td class="col-sm">@Html.ActionLink("Ver Notas", "ObtenerNota", "Modulo", new { moduloId = @modulo.Id }, new { @class = "btn btn-danger" })</td>
            @*<td class="col-sm">
                    <button type="button" class="btn btn-danger" onclick="borrarModulo(@modulo.Id)">
                        Borrar
                    </button>
                </td>*@
        </tr>
    }

</table>

@Html.ActionLink("Agregar", "Agregar", "Modulo", new { cursoId = @Model.Curso.Id }, new { @class = "btn btn-danger" })


