
@{
    ViewData["Title"] = "Lista";
}
@section Styles {
    <link href="~/css/programas.css" rel="stylesheet" />
    <link href="~/css/listas.css" rel="stylesheet" />
}
@model FVSystem.ViewModels.ProgramasSede;

<h1>Lista de Programas</h1>
<table class="col-12">


    @foreach (var programas in Model.Programas)
    {

    <tr class="row lista">
        <td class="col-6">@programas.Nombre</td>
        <td class="col-sm"> @Html.ActionLink("Cursos", "Obtener", "Curso", new { programa = programas.Id }, new { @class = "btn btn-danger" }) </td>
        @*<td class="col-sm">@Html.ActionLink("Editar", "Editar", "Programas", new { id = programas.Id }, new { @class = "btn btn-danger" })</td>*@

        @*<td class="col-sm">
            <button type="button" class="btn btn-danger" onclick="borrarProgramas(@programas.Id)">
                Borrar
            </button>
        </td>*@
    </tr>
    }

</table>

@Html.ActionLink("Agregar", "Agregar", "Programas", new { sede = Model.Sede }, new { @class = "btn btn-danger" })




